@{
    ViewBag.Title = "My Excellent About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional interesting information.</p>
<p>Extra p-tagg</p>
<hr />
<p>En till</p>
